.title{
    text-align: center;
}

.game{
    width: 75%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
img {
    max-width: 100px;
    max-height: 100px;
}

select {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

select:hover {
    background-color: #f0f0f0;
}

select:focus {
    background-color: #e0e0e0;
    outline: none;
}

select:hover option {
    background-color: #f5f5f5;
}

select:focus option {
    background-color: #dcdcdc;
}

.hidden-select {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown:before {
    content: "Seleziona immagine";
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dropdown:hover:before {
    background-color: #d0d0d0;
}

.dropdown:hover select {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
}

.dropdown select {
    display: none;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}
